*.class

# Package Files #
#*.jar
*.war
*.ear
.checkstyle
.settings/
.gradle/
.metadata/
.classpath
.project
build/
databases/
test/junit/classes/
war/WEB-INF/classes/
war/WEB-INF/deploy/
war/smevente/
war/WEB-INF/lib/gwt-servlet.jar
gwt-unitCache/
rbuild/
war/smevente.log
db/gae-snapshot-*
