<?xml version="1.0" encoding="UTF-8"?>
<!--
    This configuration file was written by the eclipse-cs plugin configuration editor
-->
<!--
    Checkstyle-Configuration: IW
    Description: none
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <property name="severity" value="warning"/>
    <module name="TreeWalker">
        <property name="tabWidth" value="4"/>
        <module name="FileContentsHolder"/>
        <module name="JavadocMethod"/>
        <module name="JavadocType">
            <property name="scope" value="package"/>
            <property name="authorFormat" value="\p{Upper}\p{Lower}+ \p{Upper}\p{Lower}+ \[\p{Lower}+\.\p{Lower}+\d*@gmail.com\]"/>
        </module>
        <module name="JavadocVariable"/>
        <module name="JavadocStyle"/>
        <module name="ConstantName"/>
        <module name="LocalFinalVariableName"/>
        <module name="LocalVariableName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="PackageName"/>
        <module name="ParameterName"/>
        <module name="StaticVariableName"/>
        <module name="TypeName"/>
        <module name="AvoidStarImport"/>
        <module name="IllegalImport"/>
        <module name="RedundantImport"/>
        <module name="UnusedImports">
            <property name="severity" value="info"/>
        </module>
        <module name="FileLength"/>
        <module name="LineLength">
            <property name="max" value="120"/>
        </module>
        <module name="MethodLength"/>
        <module name="ParameterNumber"/>
        <module name="EmptyForIteratorPad"/>
        <module name="MethodParamPad"/>
        <module name="NoWhitespaceAfter">
            <property name="tokens" value="BNOT,DEC,DOT,INC,LNOT,UNARY_MINUS,UNARY_PLUS"/>
        </module>
        <module name="NoWhitespaceBefore"/>
        <module name="OperatorWrap"/>
        <module name="ParenPad"/>
        <module name="TypecastParenPad"/>
        <module name="TabCharacter"/>
        <module name="WhitespaceAfter"/>
        <module name="WhitespaceAround">
            <property name="tokens" value="ASSIGN,BAND,BAND_ASSIGN,BOR,BOR_ASSIGN,BSR,BSR_ASSIGN,BXOR,BXOR_ASSIGN,DIV,DIV_ASSIGN,EQUAL,GE,GT,LAND,LCURLY,LE,LITERAL_ASSERT,LITERAL_CATCH,LITERAL_DO,LITERAL_ELSE,LITERAL_FINALLY,LITERAL_FOR,LITERAL_IF,LITERAL_RETURN,LITERAL_SYNCHRONIZED,LITERAL_TRY,LITERAL_WHILE,LOR,LT,MINUS,MINUS_ASSIGN,MOD,MOD_ASSIGN,NOT_EQUAL,PLUS,PLUS_ASSIGN,QUESTION,RCURLY,SL,SLIST,SL_ASSIGN,SR,SR_ASSIGN,STAR,STAR_ASSIGN,LITERAL_ASSERT,TYPE_EXTENSION_AND,WILDCARD_TYPE"/>
        </module>
        <module name="ModifierOrder"/>
        <module name="RedundantModifier"/>
        <module name="AvoidNestedBlocks"/>
        <module name="EmptyBlock"/>
        <module name="LeftCurly"/>
        <module name="NeedBraces"/>
        <module name="RightCurly"/>
        <module name="AvoidInlineConditionals">
            <property name="severity" value="info"/>
        </module>
        <module name="DoubleCheckedLocking"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="HiddenField">
            <property name="severity" value="info"/>
        </module>
        <module name="IllegalInstantiation"/>
        <module name="InnerAssignment"/>
        <module name="MissingSwitchDefault"/>
        <module name="RedundantThrows">
            <property name="allowUnchecked" value="true"/>
        </module>
        <module name="SimplifyBooleanExpression"/>
        <module name="SimplifyBooleanReturn"/>
        <module name="FinalClass"/>
        <module name="HideUtilityClassConstructor"/>
        <module name="InterfaceIsType"/>
        <module name="VisibilityModifier"/>
        <module name="ArrayTypeStyle"/>
        <module name="FinalParameters"/>
        <module name="GenericIllegalRegexp">
            <property name="format" value="\s+$"/>
            <property name="message" value="Line has trailing spaces."/>
        </module>
        <module name="TodoComment">
            <property name="severity" value="info"/>
            <property name="format" value="(TODO|FIXME|XXX)"/>
        </module>
        <module name="UpperEll"/>
        <module name="IllegalCatch">
            <property name="severity" value="info"/>
        </module>
        <module name="BooleanExpressionComplexity"/>
        <module name="ClassDataAbstractionCoupling">
            <property name="severity" value="info"/>
        </module>
        <module name="ClassFanOutComplexity">
            <property name="severity" value="info"/>
            <property name="max" value="30"/>
        </module>
        <module name="CyclomaticComplexity">
            <property name="severity" value="info"/>
        </module>
        <module name="JavaNCSS">
            <property name="severity" value="info"/>
        </module>
        <module name="NPathComplexity">
            <property name="severity" value="info"/>
        </module>
        <module name="Indentation"/>
        <module name="AbstractClassName"/>
        <module name="ImportOrder">
            <property name="severity" value="ignore"/>
        </module>
        <module name="AnonInnerLength"/>
        <module name="CovariantEquals"/>
        <module name="DefaultComesLast"/>
        <module name="DeclarationOrder"/>
        <module name="ModifiedControlVariable"/>
        <module name="MultipleStringLiterals">
            <property name="severity" value="ignore"/>
        </module>
        <module name="MultipleVariableDeclarations"/>
        <module name="PackageDeclaration"/>
        <module name="ReturnCount"/>
        <module name="StringLiteralEquality"/>
        <module name="GenericIllegalRegexp">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="System.out"/>
            <property name="format" value="^.*(System\.(out|err))(?!.*(//CSOFF)).*$"/>
            <property name="ignoreComments" value="true"/>
            <property name="message" value="Do not use System.out, use logger instead"/>
        </module>
        <module name="GenericIllegalRegexp">
            <metadata name="com.atlassw.tools.eclipse.checkstyle.comment" value="System.out valid"/>
            <property name="severity" value="info"/>
            <property name="format" value="^.*(System\.(out|err))(.*(//CSOFF)).*$"/>
            <property name="message" value="Do not use System.out, use logger instead"/>
        </module>
    </module>
    <module name="PackageHtml">
        <property name="severity" value="info"/>
    </module>
    <module name="NewlineAtEndOfFile">
        <property name="lineSeparator" value="lf"/>
    </module>
    <module name="Translation"/>
    <module name="StrictDuplicateCode">
        <property name="severity" value="info"/>
        <property name="min" value="35"/>
    </module>
    <module name="SuppressionCommentFilter"/>
</module>
